
  <button id="sidebarToggle" aria-label="Toggle menu" class="sidebar-toggle">&#9776;</button>

  <%- include('menuestudiante') %>

  <div id="overlay" class="overlay hidden"></div>

  
   

  </div>

  <script src="/assets/js/estudiante/estudiante.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/estudiante/chatbot.js"></script>
</body>
</html>
