<section id="dashboard" class="tab-section active">
  <div class="dashboard-home">
    <div class="charts-stats">
      <div class="card">
        <div class="card-header">
         
          <h3> Total de Capacidad de Salones 📈</h3>
        </div>
        <div class="card-body">
          <canvas id="performanceChart2" height="200"></canvas>
        </div>
      </div>

      <div class="card stats-cards">
        <div class="card-header">
        
          <h3> Estadísticas Generales 📊</h3>
        </div>

        <div class="card-body stats-grid">
          <div class="stat-card blue">
            <h4>Total Salones</h4>
            <p id="totalSalones"><%= totalSalones %></p>
          </div>
          <div class="stat-card indigo">
            <h4>Total Estudiantes</h4>
            <p id="totalEstudiantes"><%= totalEstudiantes %></p>
          </div>
          <div class="stat-card teal">
            <h4>Total Carreras</h4>
            <p id="totalCarreras"><%= totalCarreras %></p>
          </div>
          <div class="stat-card amber">
            <h4>Total Docentes</h4>
            <p id="totalDocentes"><%= totalDocentes %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card full-width">
      <div class="card-header">
         
          <h3> Cantidad de Estudiantes por Carrera 📈</h3>
        </div>
        <div class="card-body">
          <canvas id="performanceChart" height="100"></canvas>
        </div>
    </div>

    
  </div>
</section>
<script src="/assets/js/administrador/dashboard.js"></script>
