<section id="estudiantes" class="tab-section active">
  <div class="dashboard-home">
    <div class="charts-stats">
      <div class="section-header">
        <h2>Gestión de Estudiantes</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <table id="teachersSectionTable" class="data-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                 <th>Edad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
